.ant-layout-header, .ant-design-pro-layout-1bs9dph {
  background-color: white!important;
}
.ant-design-pro-layout-xg9gv3 {
  background-color: var(--ant-primary-color)!important;
  .ant-menu-title-content {
    * {
      color: white!important;
    }
  }
}
